<div class="container text-center">
<h1>Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/300059/pexels-photo-300059.jpeg?w=940&h=650&auto=compress&cs=tinysrgb'); background-size: cover">
          <h2><%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>


