.card {
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  height: 300px;
  opacity: 0.9;
  border-radius: 5px;
}

.card:hover {
  opacity: 1;
}

.card img {
  margin-top: 60px;
}

.card a {
  padding-top: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card h2 a {
  font-weight: bolder;
  color: white;
  display: block;
}
.card h2 a:hover {
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
