.card {
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  opacity: 0.9;
  border-radius: 5px;
}

.card:hover {
  opacity: 1;
}
.card h2 a {
  font-weight: bolder;
  color: white;
}
.card h2 a:hover {
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
