<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "ðŸ¸ MrCocktail", cocktails_path, id: "home_link" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <%= link_to "Add", new_cocktail_path %>
  </div>
</div>
